<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
	  <add key="nuget" value="https://api.nuget.org/v3/index.json" />
	  <add key="authors" value="Adesso Turkey" />
	  <add key="version" value="1.0.0" />
	  <add key="description" value="Custom Mediator and CQRS library" />
  </packageSources>
</configuration>
